.listing {
    padding: 2rem;
}

.listing > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    list-style: none;
}

.listing > ul > li {
    max-width: 250px;
}
